#carefor
    padding: 50px 0
    .textbox
        h1
            font-weight: 700
            font-size: 50px
            margin: 0 0 10px
        h4
            color: #a8a8a8
            font-weight: 200
            font-size: 18px
    .imgbox
        width: 500px
        height: 600px
