#carefor
    padding: 50px 0
    .textbox
        h1
            font-weight: 700
            font-size: 50px
            margin: 0 0 10px
        h4
            color: #a8a8a8
            font-weight: 200
            font-size: 18px
    .imgbox
        width: 500px
        height: 600px
    @media screen and ( max-width: 992px )
        .textbox
            text-align: center
            h1
                font-size: 60px
            h4
                font-size: 48px
                margin: 22px 0 22px 23px
        .imgbox
            width: 600px
